<%-include('./layouts_admin/header_admin.ejs')-%>
 
<div id="page-wrapper">
    <div class="col-md-12 graphs">
   <div class="xs">
   <h3>Add Users</h3>
 

<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
            <div class="panel-body no-padding">
                <form class="form-signin app-cam" action="/add-user" method="POST">
                    <p>Enter your personal details below</p>
                     <input type="text" class="form-control1" placeholder="Full Name" autofocus="" name="name" required>
                     <input type="text" class="form-control1" placeholder="Age" autofocus="" name="age" required>
                    <input type="text" class="form-control1" placeholder="Address" autofocus="" name="address" required>
                    <input type="text" class="form-control1" placeholder="Email" autofocus="" name="email" required>
                    <input type="text" class="form-control1" placeholder="City/Town" autofocus="" name="city" required>
                    <div class="radios">
                      <label for="radio-01" class="label_radio">
                          <input type="radio" name="gender" checked value="male"> Male
                      </label>
                      <label for="radio-02" class="label_radio">
                          <input type="radio" name="gender" value="female"> Female
                      </label>
                    </div>
                    <p> Enter your account details below</p>
                    <input type="text" class="form-control1" placeholder="User Name" autofocus="" name="username" required>
                    <input type="password" class="form-control1" placeholder="Password" name="password" required>
                    <input type="password" class="form-control1" placeholder="Re-type Password" name="retypePass" required>
                    <label class="checkbox-custom check-success">
                        <input type="checkbox" value="agree this condition" id="checkbox1"> <label for="checkbox1">I agree to the Terms of Service and Privacy Policy</label>
                    </label>
                    <button class="btn btn-lg btn-success1 btn-block" type="submit">Add user</button>
                    
                </form>
            </div>
</div>

</div>
</div>
    <%-include('./layouts_admin/footer_admin.ejs')-%>    