<%-include('./layouts_admin/header_admin.ejs')-%>

        <div id="page-wrapper">
            <div class="graphs">
           <div class="widget_head">Add Media</div>
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" id="exampleInputFile" name="newImage">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Image</button>

                </form>
           
               
           <div class="clearfix"> </div>
            </div>   
            <%-include('./layouts_admin/footer_admin.ejs')-%>    