<%-include('./layouts_admin/header_admin.ejs')-%>

        <div id="page-wrapper">
            <div class="graphs">
           <div class="widget_head">Media</div>
           <button type="button" class="btn btn-default"><a href="/admin/add-new-media">Add Media</a></button></div>
               <div class="bs-example5" data-example-id="default-media">

                <% images.forEach(image => {%>
                  <div class="media-left">
                    <a target="_blank" href="<%=image.urlUpload%>">
                      <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="<%=image.urlUpload%>" data-holder-rendered="true" style="width: 128px; height: 128px;">
                    </a>
                  </div>
                <%});%>
                
              </div>
           <div class="clearfix"> </div>
            </div>   
            <%-include('./layouts_admin/footer_admin.ejs')-%>    