<div class="service">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="service__item">
                    <a href="./project-list/thiet-ke" class="service__link">
                        <i class="service__icon icon-design"></i>
                        <strong class="service__name">Thiết kế</strong>
                        <p class="service__description">Lorem ipsum dolor sit amet, consecter piscing elit. Aenean commodo ligula eget dolor Aenean.</p>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="service__item">
                    <a href="./project-list/noi-that" class="service__link">
                        <i class="service__icon icon-furniture"></i>
                        <strong class="service__name">Nội thất</strong>
                        <p class="service__description">Lorem ipsum dolor sit amet, consecter piscing elit. Aenean commodo ligula eget dolor Aenean.</p>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="service__item">
                    <a href="./project-list/thi-cong" class="service__link">
                        <i class="service__icon icon-construction"></i>
                        <strong class="service__name">Thi công</strong>
                        <p class="service__description">Lorem ipsum dolor sit amet, consecter piscing elit. Aenean commodo ligula eget dolor Aenean.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>