<!doctype html>
<html lang="vi">
    
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BIMworks Việt Nam</title>
        <!-- // Required meta tags -->

        <!-- SEO meta tag -->
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="date" content="">
        <meta name="sitecode" content="">
        <!-- // SEO meta tag -->

        <!-- Open Graph -->
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:type" content="">
        <meta property="og:site_name" content="">
        <meta property="og:locale" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:country-name" content="" >
        <!-- // Open Graph -->

        <!-- Icon & Favicon -->
        <link rel="shortcut icon" href="/images/favicon/favicon.ico">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon_16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon_32x32.png">
        <link rel="apple-touch-icon" href="/images/favicon/favicon_180x180.png">
        <!-- // Icon & Favicon -->
        
        <!-- CSS -->
        <link rel="stylesheet" href="/stylesheets/libs/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/stylesheets/libs/slick.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!-- // CSS -->
        
    </head>
    <body>
        
        <div class="wrap contactpage">
            <!-- Header -->
            <header id="header" class="header" role="banner">
                <div class="container">
                    <div class="header__wrap">
                        <h1 class="header__logo">
                            <a href="/" class="header__link">
                                <img src="/images/logo.png" alt="BIMworks TOP QUALITY">
                            </a>
                        </h1>
                        <nav id="nav" role="navigation">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a href="/about-us" class="nav__link">Về chúng tôi</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/project-list/thiet-ke" class="nav__link nav__link--arrow">Thiết kế</a>
                                    <ul class="nav__list-depth2">
                                        <li class="nav__item-depth2"><a href="/project-list/thiet-ke/nha-pho" class="nav__link-depth2">Nhà phố</a></li>
                                        <li class="nav__item-depth2"><a href="/project-list/thiet-ke/biet-thu" class="nav__link-depth2">Biệt thự</a></li>
                                        <li class="nav__item-depth2"><a href="/project-list/thiet-ke/nha-xuong" class="nav__link-depth2">Nhà xưởng</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/project-list/noi-that" class="nav__link">Nội thất</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/project-list/thi-cong" class="nav__link nav__link--arrow">Thi công</a>
                                    <ul class="nav__list-depth2">
                                        <li class="nav__item-depth2"><a href="/project-list/thi-cong/xay-moi" class="nav__link-depth2">Xây mới</a></li>
                                        <li class="nav__item-depth2"><a href="/project-list/thi-cong/sua-chua-va-cai-tao" class="nav__link-depth2">Sửa chữa và cải tạo</a></li>
                                    </ul>
                                </li>
                                <li class="nav__item">
                                    <a href="/price" class="nav__link">Báo giá</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/news-list" class="nav__link">Bài viết</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/recruitment-list" class="nav__link">Tuyển dụng</a>
                                </li>
                                <li class="nav__item">
                                    <a href="/contact-us" class="nav__link">Liên hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            