<%- include('./layouts/header.ejs') -%>
<link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
<main id="container" role="main">
    <!-- Content -->
    <div id="content">
        <!-- Page title -->
        <section class="page-title">
            <div class="page-title__content">
                <div class="container">
                    <!-- <h2 class="page-title__name">Về chúng tôi</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Trang chủ</a></li>
                        <li class="breadcrumb__item">Về chúng tôi</li>
                    </ul> -->
                    <!-- Error Page -->
            <div class="error">
                <div class="container-floud">
                    <div class="col-xs-12 ground-color text-center">
                        <div class="container-error-404">
                            <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
                            <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                            <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                            <div class="msg">OH!<span class="triangle"></span></div>
                        </div>
                        <h2 class="h1">Sorry! Page not found</h2>
                    </div>
                </div>
            </div>
        <!-- Error Page -->
                </div>
            </div>
            <div class="page-title__bg" data-top="top[inverted]:50%;" data-top-bottom="top:0%;">
                <img src="/images/bg_title_aboutus.jpg" alt="">
            </div>
        </section>
        

    </div>
    <!-- // Content -->
    <script type="text/javascript" src="/javascripts/apps/404.js"></script>
</main>






        

<%- include('./layouts/footer.ejs') -%>
