<%- include('./layouts/header.ejs') -%>


            <!-- Container -->
            <main id="container" role="main">
                <!-- Content -->
                <div id="content">
                    <!-- Page title -->
                    <section class="page-title">
                        <div class="page-title__content">
                            <div class="container">
                                <h2 class="page-title__name">Báo giá</h2>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Trang chủ</a></li>
                                    <li class="breadcrumb__item">Báo giá</li>
                                </ul>
                            </div>
                        </div>
                        <div class="page-title__bg" data-top="top[inverted]:50%;" data-top-bottom="top:0%;">
                            <img src="/images/bg_title_price.jpg" alt="">
                        </div>
                    </section>
                    <!-- // Page title -->

                    <section class="section">
                        <h3 class="sr-only">Báo giá</h3>
                        <div class="section__content">
                            <div class="container">
                                <!-- Navtab -->
                                <div class="navtab js-navtab">
                                    <ul class="navtab__list">
                                        <li class="navtab__item"><a href="#thietke" class="navtab__link btn btn--white on">THIẾT KẾ</a></li>
                                        <li class="navtab__item"><a href="#noithat" class="navtab__link btn btn--white">NỘI THẤT</a></li>
                                        <li class="navtab__item"><a href="#thicong" class="navtab__link btn btn--white">THI CÔNG</a></li>
                                    </ul>
                                    <ul class="navtab__content">
                                        <li class="navtab__content-item" style="display:block">
                                            <!-- Price area -->
                                            <div class="price">
                                                <p class="price__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ratione recusandae distinctio sed ut minima dolores odit explicabo doloribus placeat a qui iure quod, sequi odio laborum eaque maxime illo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ratione recusandae distinctio sed ut minima dolores odit explicabo doloribus placeat a qui iure quod, sequi odio laborum eaque maxime illo?</p>
                                                <div class="price__img"><img src="/images/img_price_design.jpg" alt=""></div>
                                                <p class="price__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus accusantium minus distinctio consectetur, suscipit pariatur quibusdam sed voluptates eligendi vel voluptatem, quas voluptate beatae blanditiis exercitationem accusamus laboriosam dolorem?</p>
                                            </div>
                                            <!-- // Price area -->
                                        </li>
                                        <li class="navtab__content-item">
                                            <!-- Price area -->
                                            <div class="price">
                                                <p class="price__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ratione recusandae distinctio sed ut minima dolores odit explicabo doloribus placeat a qui iure quod, sequi odio laborum eaque maxime illo?</p>
                                                <div class="price__img"><img src="/images/img_price_furniture.jpg" alt=""></div>
                                                <p class="price__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ratione recusandae distinctio sed ut minima dolores odit explicabo doloribus placeat a qui iure quod, sequi odio laborum eaque maxime illo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus accusantium minus distinctio consectetur, suscipit pariatur quibusdam sed voluptates eligendi vel voluptatem, quas voluptate beatae blanditiis exercitationem accusamus laboriosam dolorem?</p>
                                            </div>
                                            <!-- // Price area -->
                                        </li>
                                        <li class="navtab__content-item">
                                            <!-- Price area -->
                                            <div class="price">
                                                <p class="price__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus accusantium minus distinctio consectetur, suscipit pariatur quibusdam sed voluptates eligendi vel voluptatem, quas voluptate beatae blanditiis exercitationem accusamus laboriosam dolorem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus accusantium minus distinctio consectetur, suscipit pariatur quibusdam sed voluptates eligendi vel voluptatem, quas voluptate beatae blanditiis exercitationem accusamus laboriosam dolorem?</p>
                                                <div class="price__img"><img src="/images/img_price_construction.jpg" alt=""></div>
                                                <p class="price__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ratione recusandae distinctio sed ut minima dolores odit explicabo doloribus placeat a qui iure quod, sequi odio laborum eaque maxime illo?</p>
                                            </div>
                                            <!-- // Price area -->
                                        </li>
                                    </ul>
                                </div>
                                <!-- // Navtab -->
                            </div>
                        </div>
                    </section>
                    <!--  Contact Form -->
                    <%- include('./layouts/contact_form.ejs') -%>
                    <!--  Contact Form -->
                </div>
                <!-- // Content -->
            </main>
            <!-- // Container -->

            <!-- //footer -->
    <%- include('./layouts/footer.ejs') -%>
