<%- include('./layouts/header.ejs') -%>

            <!-- Container -->
            <main id="container" role="main">
                <!-- Content -->
                <div id="content">
                    <!-- Page title -->
                    <section class="page-title">
                        <div class="page-title__content">
                            <div class="container">
                                <h2 class="page-title__name">Tuyển dụng</h2>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Trang chủ</a></li>
                                    <li class="breadcrumb__item">Tuyển dụng</li>
                                </ul>
                            </div>
                        </div>
                        <div class="page-title__bg" data-top="top[inverted]:50%;" data-top-bottom="top:0%;">
                            <img src="/images/bg_title_recuitment.jpg" alt="">
                        </div>
                    </section>
                    <!-- // Page title -->

                </div>
                <!-- // Content -->
            </main>
            <!-- // Container -->

<%- include('./layouts/footer.ejs') -%>
