<div class="copy">
    <p>Copyright &copy; 2021 BIMworks. All Rights Reserved | Design by <a href="http://facebook.com/minhthaodev95" target="_blank">MinhThao</a> </p>
</div>
</div>
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Bootstrap Core JavaScript -->
<link href="css/custom.css" rel="stylesheet">

<script src="js/bootstrap.min.js"></script>
<script src="js/pagination.js"></script>
<script src="js/custom_admin.js"></script>
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>
