<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/admin"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop nav_icon"></i>Posts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/posts">All Posts</a>
                    </li>
                    <li>
                        <a href="/admin/add-post">Add New</a>
                    </li>
                    <li>
                        <a href="/admin/add-new-category">Add New Category</a>
                    </li>
                  
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/admin/media-library"><i class="fa fa-indent nav_icon"></i>Media<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/media-library">Library</a>
                    </li>
                    <li>
                        <a href="typography.html">Add New</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/admin/mailbox"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/mailbox">Inbox</a>
                    </li>
                    <li>
                        <a href="/admin/mailbox-compose">Compose Mail</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/admin/users"><i class="fa fa-users nav_icon"></i>Users<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/users">All Users</a>
                    </li>
                    <li>
                        <a href="/admin/add-users">Add New</a>
                    </li>
                    
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/"><i class="fa fa-flask nav_icon"></i>Logout</a>
            </li>
            
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>